############
# INTELLIJ #
############
.idea/

###########
# MODULES #
###########
node_modules/

##########
# CONFIG #
##########
config/server/config.json

########
# LOGS #
########
npm-debug.log

############
# API DOCS #
############
apidoc/
out/

############
# COVERAGE #
############
coverage/
